{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title%}


{% block content %}


<div id='tweetme-2'></div>



<div class='row text-center d-none'>
    <div class='col'>
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/tweet_create/">
            {% csrf_token %}
            <input type="hidden" value="/" name="next" />
            <textarea class="form-control" name="content" placeholder="Your Tweets..."></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>

<div id='tweets'>
   Replace Me
</div>

<script>
    const tweetsElement = document.getElementById("tweets") 
    tweetsElement.innerHTML = "Loading..."
    function likeButton(tweet){
        return "<button class='btn btn-primary' onclick=handleLiked("+tweet.id+","+tweet.likes+")>"+tweet.likes+" Likes</button>"
    }
    function handleLiked(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
    }
    function formatTweetElement(tweet){
        var formatedTweet = "<div id='tweet-"+tweet.id+"'><b>"+tweet.id+"</b>"+" "+tweet.content +"</br>"
        formatedTweet += likeButton(tweet) 
            return formatedTweet
    }
    const xhr = new XMLHttpRequest()
    const method = 'GET' // "POST"
    const url = "/tweets"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response // array
        var finalTweetStr = ""
        var i;
        for (i=0;i<listedItems.length; i++) {
            console.log(listedItems[i])
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
</script>
{% endblock content %}